@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cor-padrao: #3bffbe;
    --cor-padrao-hover: #f3b2e5;
    --cor-fonte: #070707;
    --cor-font-p: #555;
    --cor-btn: #a51717;
    --cor-btn-hover: #15ff00;
    --cor-btn-fonte: #000;
    --cor-fonte-corpo: #555;
    --cor-font-corpo-leve: #777;
}

body {
    font-family: 'Poppins', sans-serif;
}

.header-1 {
    background-color: transparent;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.button-container {
    display: flex;
    align-items: center;
}

.login-button button {
    border: none;
    font-size: 1.5rem;
    background-color: transparent;
    padding: 10px 15px;
    border-radius: 100px;
}

.login-button i {
    color: #996161;
}

.login-button i:hover {
    color: rgb(0, 0, 0);
}

.car-button button {
    border: none;
    font-size: 1.5rem;
    background-color: transparent;
    padding: 10px 15px;
    border-radius: 100px;
}

.car-button i {
    color: #996161;
}

.car-button button i:hover {
    color: rgb(0, 0, 0);
}

.header-2 {
    background-color: #EDEAE5;
    box-shadow: 0px 3px 4px #464646;
}

.nav-bar-2 {
    padding: 1rem 2rem;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}

.nav-item {
    margin: 0 100px;
}

.nav-item a:hover {
    color: #230584;
}

.nav-link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #996161;
    font-family: 'Poppins';
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px; /*incluir, estava sem */
    margin-top:  -180px;
    margin-bottom: -345px;
}

.navbar a{
    position: relative; /*incluir para corrigir posicionamento dos links em frente da imagem do banner */
    z-index: 2; /*incluir para corrigir posicionamento dos links em frente da imagem do banner */
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
 
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--cor-fonte);
    cursor: pointer;
    position: relative; /*incluir para corrigir posicionamento dos links em frente da imagem do banner */
    z-index: 2; /*incluir para corrigir posicionamento dos links em frente da imagem do banner */
}

p {
    color: var(--cor-font-p);
}

.linha {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.col-2 p {
    font-weight: 600;
    color: var(--cor-btn-fonte);
}

.btn {
    text-decoration: none;
    color: var(--cor-fonte);
    background: transparent;
    border-radius: 100px;
    transition: background 0.5s;
}

.categorias {
    margin: 70px 0;
}

.categorias-texto {
    margin-top: 60px;
    padding: 10px;
    font-family: 'Lexend Giga';
    text-align: center;
    font-size: 44px;
    color: #996161;
}

.corpo-categorias {
    max-width: 1000px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px; /*corrigir de max para min */
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.col-4 {
    font-size: 14px;
    flex-basis: 20%;
    min-width: 200px; /*corrigir de max para min */
    padding: 10px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4:hover {
    transform: scale(1.1);
}

.col-4 img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.col-4-1 {
    flex-basis: 25%;
    max-width: 200px;
    padding: 10px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}


.col-4-1 img {
    width: auto;
    object-fit: cover;
    object-position: center;
}

.col-4-1:hover {
    transform: scale(1.1);
}

.titulo {
    position: relative;
    line-height: 60px;
    margin: 0 auto 80px;
    text-align: center;
    color: var(--cor-fonte-corpo);
}

.titulo::after{
    content: '';
    background-color: #996161;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4 {
    color: var(--cor-fonte-corpo);
    font-weight: normal;   
}

.classificacao ion-icon {
    color: #f8db00da;
}

.ofertas {
    background: radial-gradient(var(--cor-padrao-hover), var(--cor-padrao));
    margin-top: 80px;
    padding: 20px;
}

.imagens-container {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 100%;
}

.image-container {
    position: relative;
    margin: 10px;
    padding: 25px;
    text-align: center;
    /* Centralizar o texto horizontalmente */
}

.texto {
    font-family: 'Lexend Giga';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #996161;
    font-size: 23px;
    width: 100%;
    transition: font-size 0.5s;
}

.image-container:hover .texto {
    font-size: 27px;
}


.image-container img {
    display: block;
    width: 220px;
    height: 200px;
    border-radius: 100%;
    background-color: transparent;
    transition: transform 0.5s;
}

.image-container img:hover {
    transform: scale(1.1);
}

.texto-link {
    text-decoration: none;
}

.texto-link :hover {
    color: #3bffbe;
}

p {
    color: var(--cor-fonte);
}

.col-2 .ofertas .img {
    padding: 50%;
}

small {
    color: var(--cor-btn-fonte);
}

.depoimentos {
    padding-top: 100px;
}

.depoimentos .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: translate 0.5s;
}

.depoimentos .col-3:hover {
    transform: scale(1.1);
}

.depoimentos .col-3 img {
    width: 100px;
    height: 105px;
    border-radius: 50%;
    margin-top: 20px;
    border: 2px solid var(--cor-padrao);
}

.depoimento-icone {
    font-size: 34px;
    color: var(--cor-padrao);
}

.col-3 p {
    font-size: 13px;
    color: var(--cor-font-corpo-leve);
    margin: 12px 0;
}

.depoimento .col-3 h3 {
    font-size: 16px;
    font-weight: 600;
    color: var(--cor-fonte-corpo);
}

.marcas {
    margin: 100px auto;
}

.col-5 {
    width: 160px;
}

.col-5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover {
    filter: grayscale(0);
}

.rodape {
    background: var(--cor-btn-fonte);
    color: var(--cor-font-corpo-leve);
    padding: 60px 0 20px;
    font-size: 14px;
}

.rodape p {
    color: var(--cor-font-corpo-leve);
}

.rodape h3 {
    color: var(--cor-font-corpo-leve);
    margin-bottom: 20px;
}

.rodape-col-1,
.rodape-col-2,
.rodape-col-3,
.rodape-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.rodape-col-1 {
    flex-basis: 30%;

}

.rodape-col-2 {
    flex: 1;
    text-align: center;
}

.rodape-col-2 img {
    width: 180px;
    margin-bottom: 20px;
}

.rodape-col-3,
.rodape-col-4 {
    flex-basis: 12%;
    text-align: right;
}

ul {
    list-style-type: none;
}

.app-logo {
    margin-top: 20px;

}

.app-logo img {
    width: 140px;
}

.rodape hr {
    border: none;
    height: 1px;
    background: #fff;
    margin: 20px 0;
}

.direitos {
    text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.banner {
    background: radial-gradient(var(--cor-padrao-hover), var(--cor-padrao));
    margin-top: 100px;
}


.banner .linha {
    margin-top:  100px; /* -230 px*/
}


.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}


.navbar {
    display: flex;
    align-items: center;
    padding: 20px; /*incluir, estava sem */
    margin-top:  -180px;
    margin-bottom: -345px;
}

.navbar a{
    position: relative; /*incluir para corrigir posicionamento dos links em frente da imagem do banner */
    z-index: 2; /*incluir para corrigir posicionamento dos links em frente da imagem do banner */
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
 
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--cor-fonte);
    cursor: pointer;
    position: relative; /*incluir para corrigir posicionamento dos links em frente da imagem do banner */
    z-index: 2; /*incluir para corrigir posicionamento dos links em frente da imagem do banner */
}

.banner p {
    color: var(--cor-fonte);
}

p {
    color: var(--cor-font-p);
}

.linha {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;

}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.categorias {
    margin: 70px 0;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px; /*corrigir de max para min */
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.col-4 {
    flex-basis: 20%;
    min-width: 200px; /*corrigir de max para min */
    padding: 10px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4:hover {
    transform: scale(1.1);
}

.col-4 img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.titulo {
    position: relative;
    line-height: 60px;
    margin: 0 auto 80px;
    text-align: center;
    color: var(--cor-fonte-corpo);
}

.titulo::after{
    content: '';
    background-color: var(--cor-padrao);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4 {
    color: var(--cor-fonte-corpo);
    font-weight: normal;   
}

.col-4{
    font-size: 14px;
}

.ofertas {
    background: radial-gradient(var(--cor-padrao-hover), var(--cor-padrao));
    margin-top: 0px;
    padding: 20px;
}

.col-2 .oferta .img {
    padding: 50px;
}

small {
    color: var(--cor-btn-fonte);
}

.depoimentos {
    padding-top: 100px;

}

.depoimentos .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.depoimentos .col-3:hover{
    transform: scale(1.1);
}

.depoimentos .col-3 img {
    width: 50px;
    border-radius: 50%;
    margin-top: 20px;
    border: 2px solid var(--cor-padrao);    
}

.depoimento-icone {
    font-size: 34px;
    color: var(--cor-padrao);
}

.col-3 p{
    font-size: 13px;
    color:var(--cor-font-corpo-leve);
    margin: 12px 0;
}

.depoimentos .col-3 h3{
    font-size: 16px;
    font-weight: 600;
    color: var(--cor-fonte-corpo);
}

.marcas {
    margin: 100px auto;
}

.col-5{
    width: 160px;
}

.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover {
    filter: grayscale(0);
}

.rodape{
    background: var(--cor-btn-fonte);
    color: var(--cor-font-corpo-leve);
    padding: 60px 0 20px;
    font-size: 14px;
}

.rodape p{
    color: var(--cor-font-corpo-leve);
}

.rodape h3 {
    color: var(--cor-font-corpo-leve);
    margin-bottom: 20px;
}

.rodape-col-1, .rodape-col-2, .rodape-col-3, .rodape-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.rodape-col-1 {
    flex-basis: 30%;

}

.rodape-col-2 {
    flex: 1;
    text-align: center;
}

.rodape-col-2 img {
    width: 180px;
    margin-bottom: 20px;
}

.rodape-col-3, .rodape-col-4 {
    flex-basis: 12%;
    text-align: right;
}

ul {
    list-style-type: none;
}

.app-logo {
    margin-top: 20px;

}

.app-logo img {
    width: 140px;
}

.rodape hr {
    border: none;
    height: 1px;
    background: #fff;
    margin: 20px 0;
}

.direitos {
    text-align: center;
}



/*PAGINA PRODUTOS */

.navbar2 {
    display: flex;
    align-items: center;
    padding: 20px; 
    margin-top:  -90px;
    margin-bottom: -85px;
  
}

.novoMenu ul li a {
    color: var(--cor-fonte);
}

.linha2 {
    margin: 10px auto 10px;
    justify-content: space-between;
}

.linha2 select {
    padding: 5px;
    border: 1px solid blue;
}

.paginacao {
    margin: 0 auto 80px;
    margin-left: 20px;
}

.paginacao span {
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 1px solid blue;
    text-align: center;
    line-height: 40px;
    margin-left: 10px;
    cursor: pointer;
}

.paginacao span:hover {
    background: rgb(85, 116, 156);
}

/*DETALHES PRODUTO*/
.ver-produto {
    margin-top: 40px;
}

.ver-produto .col-2 {
    width: 100%;
    padding: 0;
}

.ver-produto #produtoImg {
    width: 600px;
    height: 450px;
    object-fit: cover;
    object-position: center;
}

.ver-produto .col-2 {
    padding: 20px;
}

.ver-produto h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.ver-produto select {
    display: block;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid var(--cor-padrao)
}

.ver-produto input {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    padding-left: 10px;
    border: 1px solid var(--cor-padrao);
}

.ver-produto .btn {
    border: none;
    background-color: var(--cor-padrao);
    height: 42px;
    border-radius: 4px;
    cursor: pointer;
}

.ver-produto .btn:hover {
    background-color: var(--cor-btn);
}

.ver-produto p {
    font-size: 13px;
}

/*Carrinho de compras */
.carrinho-compras {
margin: 80px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.info-carrinho {
    display: flex;
    flex-wrap: wrap;
}

th{
    background-color: var(--cor-padrao);
    color: var(--cor-fonte);
    text-align: left;
    font-weight: normal;
    padding: 5px;
}

td{
    padding: 10px 5px;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a{
    color: var(--cor-padrao);
    font-size: 12px;
}

td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.valor-total {
    display: flex;
    justify-content: flex-end;
}

.valor-total table {
    border-top: 3px solid var(--cor-padrao);
    width: 100%;
    max-width: 420px;
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}

/*MINHA CONTA */

.minha-conta {
    margin-top: -22px;
    padding: 10px 0;
    background: radial-gradient(var(--cor-padrao-hover), var(--cor-padrao));
}


.formulario {
    position: relative;
    padding: 20px 0;
    text-align: center;
    width: 300px;
    height: 400px;
    margin: auto;
    background-color: #fff;
    box-shadow: 30px 0 20px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden; /*esconde item para transição js entree entrar e cadastro*/
}

.formulario span {
    display: inline-block;
    width: 100px;
    padding: 0 10px;
    font-weight: bold;
    color: var(--cor-fonte);
    cursor: pointer;
}

.btn-form {
    display: inline-block

}

.formulario form {
    position: absolute;
    top: 110px;
    max-width: 300px;
    padding: 0 20px;
    transition: transform 1s;
}

.formulario form input {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid var(--cor-padrao);
    border-radius: 3px;
}

.formulario form input:focus {
    outline: none;
}

.formulario form .btn{
    width: 100%;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    background-color: var(--cor-padrao);
    cursor: pointer;
}

.formulario form .btn:hover {
    background-color: var(--cor-btn-hover);
}

.formulario form a{
    font-size: 12px;
    text-decoration: none;
    color: var(--cor-fonte-corpo);
    cursor: pointer;
}

#EntrarPainel {
    left: -300px; /* posicionamento inicial transição painel cadastro*/
}

#CadastroSite {
    left: 0;
}

#Indicador {
    width: 100px;
    height: 3px;
    border: none;
    background-color: var(--cor-padrao);
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}


/* REPONSIVIDADE - JS - INCLUIR CHAMADA DA FUNÇÃO NO INDEX ABAIXO DA IMAGEM DO CARRINHO*/

.menu-celular {
    width: 20px;
    margin-left: 20px;
    display: none;
}

@media only screen and (max-width: 800px) {
    nav ul{
        position: absolute;
        top: 92px;
        left: 0;
        background: var(--cor-padrao);
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    .linha .col-2 h1 {
        margin-top: 200px;
    }

    nav ul li {
        display: block;
        margin-top: 10px;
        margin-right: 50px;
        margin-bottom: 10px;
    }

    nav ul li a {
        color: var(--cor-fonte);
    }
    
    .menu-celular {
        display: block;
        cursor: pointer;
    }
    
}

@media only screen and (max-width: 600px) {

    
    .linha {
        text-align: center;
    }

    .linha .col-2 h1 {
        margin-top: 200px;
    }

    col-2, col-3, col-4 {
        flex-basis: 100%;
    }

    .col-2 h1 {
        font-size: 27px;
    }

    .rodape-col-3, .rodape-col-4 {
        text-align: center;
    }

    .col-4 p {
        font-size: 24px;
    }

    .ver-produto .col-2 {
        margin: 20px 0;
    }

    .ver-produto .linha {
        text-align: left;
    }

    .ver-produto h1 {
        font-size: 26px;
        line-height: 26px;
    }

    .info-carrinho p{
        display: none;
    }
}