@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cor-padrao: #3bffbe;
    --cor-padrao-hover: #f3b2e5;
    --cor-fonte: #070707;
    --cor-font-p: #555;
    --cor-btn: #a51717;
    --cor-btn-hover: #15ff00;
    --cor-btn-fonte: #000;
    --cor-fonte-corpo: #555;
    --cor-font-corpo-leve: #777;
}

body {
    font-family: 'Poppins', sans-serif;
}

.header-1 {
    background-color: transparent;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}
